@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './share.scss';

@import './node_modules/swiper/swiper-bundle';

@font-face {
    font-family: 'Libre Franklin';
    src: url('./../fonts/LibreFranklin-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('./../fonts/LibreFranklin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('./../fonts/LibreFranklin-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./../fonts/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./../fonts/IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.section-separator {
    width: 100%;
    height: 1px;
    background-color: #fafafa;

    .section-separator__item {
        max-width: 1170px;
        height: 100%;
        margin: 0 auto;
        background-color: #e6e6e6;
    }
}

.header__inner {
    display: flex;
    gap: 0 35px;
    min-height: 90px;
    padding: 13px 0;
    align-items: center;

    a {
        color: #fff;
    }

    .header__logo {
        display: flex;
        align-items: center;
        width: 126px;
        height: 30px;
    }

    .header__list-separator {
        width: 4px;
        height: 4px;
        background: #fff;
    }

    .menu {
        min-height: 64px;
        margin-left: auto;
        display: flex;

        .menu__btn {
            display: none;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .menu__list {
            display: flex;
            align-items: center;
            gap: 0 40px;
            font-size: 14px;
        }
    }

    .urser-actions-list {
        min-height: 64px;
        display: flex;
        align-items: center;
        gap: 0 35px;
        font-size: 14px;

        .urser-actions__link-sign-in {
            img {
                display: none;
            }
        }

        .urser-actions__link-started {
            border: 2px solid #fff;
            border-radius: 4px;
            padding: 11px 17px;
        }
    }
}

.top__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    gap: 60px 0;
    color: #fff;

    a {
        color: #fff;
    }

    .top__bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100vw;
        height: 582px;
        object-fit: cover;
    }

    .top__content {
        max-width: 751px;

        .top__title {
            font-weight: 700;
            font-size: 71px;
            line-height: 1.09859;
            letter-spacing: 0.01em;
            text-align: center;
        }

        .top__text {
            margin-top: 30px;
            font-family: $second-family;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.84615;
            text-align: center;
        }
    }
}

.promoting__inner {
    padding: 120px 0;

    .promoting__promo-title {
        margin: 0 0 54px 10px;
        max-width: 507px;
        max-height: 144px;
    }

    .promoting__list {
        margin-top: 54px;
        display: flex;
        gap: 0 20px;

        .promoting__item {
            min-width: 377px;
            min-height: 330px;
            padding: 51px 64px 0 41px;

            .promoting__title {
                margin-top: 25px;
                font-weight: 700;
                font-size: 16px;
            }

            .promoting__text {
                margin-top: 13px;
                font-family: $second-family;
                font-size: 14px;
                line-height: 1.84615;
                color: #999;
            }
        }
    }
}

.illustration__inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;

    .main-swiper {
        .main-swiper-wrapper {
            .main-swiper-slider {
                height: 720px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ddd;
            }
        }

        .main-swiper-pagination {
            .swiper-pagination-bullet {
                margin: 0 10px 0 10px;
                width: 6px;
                height: 6px;
                background-color: #fff;
                opacity: 0.4;
                border-radius: 0;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}

.about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px 0;
    padding: 115px 205px;

    a {
        color: #5ab963;
    }

    .about__promo-title {
        text-align: center;
        padding: 0 58.25px 0 17.25px;
    }

    .about__link {
        font-family: $second-family;
        font-size: 11px;
        line-height: 1.63636;
        text-transform: uppercase;
    }
}

.main-blog__inner {
    padding: 120px 0;

    a {
        color: #5ab963;
    }

    .main-blog__list {
        display: flex;
        flex-direction: column;
        gap: 90px 0;

        .main-blog__item {
            max-width: 940px;
            display: flex;
            gap: 0 100px;

            .main-blog__image {
                width: 470px;
                height: 330px;
            }

            .main-blog__content {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding-top: 3px;

                .main-blog__text {
                    font-family: $second-family;
                    font-size: 14px;
                    line-height: 1.71429;
                    color: #999;
                }
            }
        }

        .main-blog__item:nth-child(2n) {
            margin-left: auto;

            .main-blog__content {
                order: -1;
            }
        }
    }

    .main-blog__premium {
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px 0;

        .main-blog__premium-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
        }

        .main-blog-premium-link {
            font-family: $second-family;
            font-size: 11px;
            line-height: 1.63636;
            text-transform: uppercase;
        }
    }
}

.party-on__inner {
    padding: 150px 0;
    display: flex;
    align-items: center;

    .party-on__content {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        flex-basis: 483px;

        .party-on__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            color: #5ab963;
        }

        .party-on__title {
            position: relative;
        }

        .party-on__title::after {
            content: '';
            background-image: url(../images/icons/party-on-title-line.svg);
            position: absolute;
            margin: 11px 0 0 20px;
            width: 30px;
            height: 2px;
        }

        .party-on__promo-title__intro {
            font-weight: 400;
        }
    }

    .party-on__link {
        font-weight: 700;
        margin-left: auto;
    }
}

.footer {
    background: #0a0e1a;

    .footer__inner {
        display: flex;
        min-height: 399px;
        padding: 120px 0 150px 0;
        font-size: 12px;

        a {
            color: #fff;
        }

        .footer__branding {
            flex-basis: 585px;

            .footer__logo {
                display: flex;
                align-items: center;
                width: 126px;
                height: 30px;
            }

            .footer__copyright {
                margin-top: 15px;
                color: #666;
            }
        }

        .footer__nav {
            flex-basis: 585px;
            display: flex;
            gap: 0 50px;

            .footer__services,
            .footer__info,
            .footer__legal {
                display: flex;
                flex-direction: column;
                gap: 25px 0;
            }

            .footer__social {
                display: flex;
                gap: 0 18px;
            }
        }
    }
}

@include breakpoint($tablet-bp) {
    .section-separator {
        .section-separator__item {
            max-width: 768px;
        }
    }

    .header__inner {
        gap: 0 20px;

        .menu {
            .menu__list {
                gap: 0 30px;
            }
        }

        .urser-actions-list {
            gap: 0 20px;
        }
    }
}

@include breakpoint($small-tablet-bp) {
    .section-separator {
        .section-separator__item {
            max-width: 640px;
        }
    }

    .header__inner {
        gap: 0;

        .header__logo {
            margin-left: auto;
            margin-right: 10%;
        }

        .header__list-separator {
            display: none;
        }

        .menu {
            order: -1;
            margin-left: 0;
            padding: 0;
            display: flex;
            align-items: center;

            .menu__btn {
                display: flex;
            }

            .menu__list {
                display: none;
            }
        }
    }
}

@include breakpoint($mobile-bp) {
    .section-separator {
        .section-separator__item {
            max-width: none;
        }
    }

    .header__inner {
        .header__logo {
            width: 106px;
        }

        .urser-actions-list {
            gap: 0 15px;
            font-size: 10px;

            .urser-actions__link-sign-in {
                p {
                    display: none;
                }

                img {
                    display: flex;
                }
            }

            .urser-actions__link-started {
                padding: 4px 10px;
            }
        }
    }
}
