@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './share.scss';

.header__inner {
  display: flex;
  gap: 0 35px;
  min-height: 90px;
  padding: 13px 0;
  align-items: center;
  color: #fff;

  a {
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 126px;
    height: 30px;
  }

  .header__list-separator {
    width: 4px;
    height: 4px;
    background: #fff;
  }

  .menu {
    min-height: 64px;
    margin-left: auto;
    display: flex;

    .menu__btn {
      display: none;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    .menu__list {
      display: flex;
      align-items: center;
      gap: 0 40px;
      list-style: none;
      font-size: 14px;
    }
  }

  .urser-actions-list {
    min-height: 64px;
    display: flex;
    align-items: center;
    gap: 0 35px;
    list-style: none;
    font-size: 14px;

    .urser-actions__link-sign-in {
      img {
        display: none;
      }
    }

    .urser-actions__link-started {
      border: 2px solid #fff;
      border-radius: 4px;
      padding: 11px 17px;
    }
  }
}

.top__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  gap: 60px 0;
  color: #fff;

  a {
    color: #fff;
  }

  .top__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 582px;
    object-fit: cover;
  }

  .top__content {
    max-width: 751px;

    .top__title {
      font-weight: 700;
      font-size: 71px;
      line-height: 1.09859;
      letter-spacing: 0.01em;
      text-align: center;
    }

    .top__text {
      margin-top: 30px;
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 13px;
      line-height: 1.84615;
      text-align: center;
    }
  }

  .top__started-link {
    font-size: 16px;
    line-height: 1.875;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: #5ab963;
  }
}

.promoting__inner {
  margin: 120px 0;

  .promoting__promo-title {
    margin: 0 0 54px 10px;
    max-width: 507px;
    max-height: 144px;
  }

  .promoting__list {
    margin-top: 54px;
    display: flex;
    gap: 0 20px;

    .promoting__item {
      min-width: 377px;
      min-height: 330px;
      padding: 51px 64px 0 41px;

      .promoting__title {
        margin-top: 25px;
        font-weight: 700;
        font-size: 16px;
      }

      .promoting__text {
        margin-top: 13px;
        font-family: var(--second-family);
        font-size: 14px;
        line-height: 1.84615;
        color: #999;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header__inner {
    gap: 0 20px;

    .menu {
      .menu__list {
        gap: 0 30px;
      }
    }

    .urser-actions-list {
      gap: 0 20px;
    }
  }
}

@media (max-width: 768px) {
  .header__inner {
    gap: 0;

    .logo {
      margin-left: auto;
      margin-right: 10%;
    }

    .header__list-separator {
      display: none;
    }

    .menu {
      order: -1;
      margin-left: 0;
      padding: 0;
      display: flex;
      align-items: center;

      .menu__btn {
        display: flex;
      }

      .menu__list {
        display: none;
      }
    }
  }
}

@media (max-width: 425px) {
  .header__inner {
    .logo {
      width: 106px;
    }

    .urser-actions-list {
      gap: 0 15px;
      font-size: 10px;

      .urser-actions__link-sign-in {
        p {
          display: none;
        }

        img {
          display: flex;
        }
      }

      .urser-actions__link-started {
        padding: 4px 10px;
      }
    }
  }
}
