<section class="about">
    <div class="container">
        <div class="about__inner">
            <p class="promo-title about__promo-title">
                <span class="promo-title__intro">
                    Illud decore voluptaria has at.
                </span>
                <span class="promo-title__details">
                    Hinc invenire atomorum no vel. Ut vis nullam blandit
                    neglegentur, omittam perpetua voluptatum qui eu. Iusto
                    laoreet suscipit vis ad, ad ferri tempor duo.
                </span>
            </p>
            <ul class="about__list">
                <li class="about__item">
                    <a href="#" class="about__link">More</a>
                </li>
                <li class="about__item">
                    <a href="#" class="about__link">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</section>
