<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__branding">
                <a href="#" class="footer__logo"
                    ><img src="assets/images/icons/logo.svg" alt="Spoon" />
                </a>
                <p class="footer__copyright">
                    © 2018 Spoon Inc, All rights reserved.
                </p>
            </div>
            <div class="footer__nav">
                <ul class="footer__services">
                    <li class="footer__services-item">
                        <a href="#" class="footer__services-link">Features</a>
                    </li>
                    <li class="footer__services-item">
                        <a href="#" class="footer__services-link">Premium</a>
                    </li>
                    <li class="footer__services-item">
                        <a href="#" class="footer__services-link">Pricing</a>
                    </li>
                </ul>
                <ul class="footer__info">
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">About</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Blog</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Contact</a>
                    </li>
                </ul>
                <ul class="footer__legal">
                    <li class="footer__legal-item">
                        <a href="#" class="footer__legal-link"
                            >Image License Info</a
                        >
                    </li>
                    <li class="footer__legal-item">
                        <a href="#" class="footer__legal-link"
                            >Powered by Webflow</a
                        >
                    </li>
                </ul>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link"
                            ><img
                                src="assets/images/icons/facebook.svg"
                                alt="Facebook"
                        /></a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link"
                            ><img
                                src="assets/images/icons/twitter.svg"
                                alt="Twitter"
                        /></a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link"
                            ><img
                                src="assets/images/icons/instagram.svg"
                                alt="Instagram"
                        /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
