<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo"
                ><img src="assets/images/icons/logo.svg" alt="Spoon" />
            </a>
            <nav class="menu">
                <button class="menu__btn">
                    <img
                        src="assets/images/icons/menu.svg"
                        alt="Menu"
                        class="btn-icon"
                    />
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Features</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Premium</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Pricing</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">About</a>
                    </li>
                </ul>
            </nav>
            <span class="header__list-separator"></span>
            <ul class="urser-actions-list">
                <li class="urser-actions__item">
                    <a
                        href="#"
                        class="urser-actions__link urser-actions__link-sign-in"
                    >
                        <p>Sign in</p>
                        <img
                            src="assets/images/icons/user.svg"
                            alt="User"
                            class="btn-icon"
                        />
                    </a>
                </li>
                <li class="urser-actions__item">
                    <a
                        href="#"
                        class="urser-actions__link urser-actions__link-started"
                        >Get Started</a
                    >
                </li>
            </ul>
        </div>
    </div>
</header>
