<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo"
        ><img src="assets/images/icons/logo.svg" alt="spoon" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link">Features</a>
          </li>
          <li class="menu__item"><a href="#" class="menu__link">Premium</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Pricing</a></li>
          <li class="menu__item"><a href="#" class="menu__link">About</a></li>
        </ul>
      </nav>
      <ul class="urser-actions">
        <span class="urser-actions__separator"></span>
        <li class="urser-actions__item">
          <a href="#" class="urser-actions__link">Sign in</a>
        </li>
        <li class="urser-actions__item urser-actions__item-started">
          <a href="#" class="urser-actions__link">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</header>
