<section class="illustration">
    <div class="illustration__inner">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper main-swiper-wrapper">
                <div class="swiper-slide main-swiper-slider">
                    <img src="assets/images/pictures/illustration.jpg" />
                </div>
                <div class="swiper-slide main-swiper-slider">
                    <img src="assets/images/pictures/illustration.jpg" />
                </div>
                <div class="swiper-slide main-swiper-slider">
                    <img src="assets/images/pictures/illustration.jpg" />
                </div>
            </div>
            <div class="swiper-pagination main-swiper-pagination"></div>
        </div>
    </div>
</section>
