<section class="main-blog">
    <div class="container">
        <div class="main-blog__inner">
            <ul class="main-blog__list">
                <li class="main-blog__item">
                    <img
                        src="assets/images/pictures/main-blog-1.png"
                        alt="Main blog image"
                        class="main-blog__image"
                    />
                    <div class="main-blog__content">
                        <p class="promo-title main-blog__promo-title">
                            <span class="promo-title__intro">
                                Ex tempor euismod sapientem ouis lexor pro.
                            </span>
                            <span class="promo-title__details">
                                Ad vix dicta iudico singulis, ius ex mollis
                                veritus.
                            </span>
                        </p>
                        <p class="main-blog__text">
                            Possit tritani consectetuer eu his, nusquam minimum
                            ut per, eu eos ocurreret splendide hendrerit. Dicant
                            placerat democritum eos id, sit mollis invidunt
                            mediocritatem ei, ne fuisset dolores periculis sed.
                        </p>
                    </div>
                </li>
                <li class="main-blog__item">
                    <img
                        src="assets/images/pictures/main-blog-2.png"
                        alt="Main blog image"
                        class="main-blog__image"
                    />
                    <div class="main-blog__content">
                        <p class="promo-title main-blog__promo-title">
                            <span class="promo-title__intro">
                                Te elit antiopam vix zril recusabo ut pri.
                            </span>
                            <span class="promo-title__details">
                                Quas suscipit ad mea verear vivendo tincidunt.
                            </span>
                        </p>
                        <p class="main-blog__text">
                            Pri cu dico labores officiis, odio principes
                            complectitur ad sea. Sea id doctus forensibus, nec
                            lorem vocent aliquam eu. Aliquid definitiones id
                            cum, ad meliore perpetua referrentur sed. Quas
                            suscipit ad mea verear vivendo tincidunt.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="main-blog__premium">
                <h3 class="main-blog__premium-title">
                    Wanna know more about the Premium deal?
                </h3>
                <a href="#" class="main-blog-premium-link"
                    >See the full range of Premium</a
                >
            </div>
        </div>
    </div>
</section>
