<section class="party-on">
    <div class="container">
        <div class="party-on__inner">
            <div class="party-on__content">
                <h4 class="party-on__title">Party On</h4>
                <p class="promo-title party-on__promo-title">
                    <span
                        class="promo-title__intro party-on__promo-title__intro"
                    >
                        Quas suscipit ad mea.
                    </span>
                    <span class="promo-title__details">
                        Pri cu dico labores officiis odio principes complectitur
                        ad sea.
                    </span>
                </p>
            </div>
            <a href="#" class="fill-link party-on__link">Get Started</a>
        </div>
    </div>
</section>
