<section class="promoting">
    <div class="container">
        <div class="promoting__inner">
            <p class="promo-title promoting__promo-title">
                <span class="promo-title__intro">
                    Promoting your business and services with Propel:
                </span>
                <span class="promo-title__details">
                    A responsive, multi-page business template with everything
                    you need propel your business.
                </span>
            </p>
            <ul class="promoting__list">
                <li class="promoting__item">
                    <img
                        src="assets/images/icons/promoting-1.svg"
                        alt="Promoting"
                        class="promoting__icon"
                    />
                    <h2 class="promoting__title">Pro ad constituto</h2>
                    <p class="promoting__text">
                        Ne usu illud albucius abhor reant, partiendo scriptorem
                        mel ne.
                    </p>
                </li>
                <li class="promoting__item">
                    <img
                        src="assets/images/icons/promoting-2.svg"
                        alt="Promoting"
                        class="promoting__icon"
                    />
                    <h2 class="promoting__title">Eam commodo</h2>
                    <p class="promoting__text">
                        Fuisset intellegat delicatissimi ex mea. Cu probo
                        integre nec.
                    </p>
                </li>
                <li class="promoting__item">
                    <img
                        src="assets/images/icons/promoting-3.svg"
                        alt="Promoting"
                        class="promoting__icon"
                    />
                    <h2 class="promoting__title">Reformidans eis</h2>
                    <p class="promoting__text">
                        Facer nostro causae ei sed. Vix ex quidam detraxit, vis
                        ad nostro laoreet.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
