<section class="top">
    <div class="container">
        <div class="top__inner">
            <img
                src="assets/images/pictures/top-bg.jpg"
                alt="Spoon top background"
                class="top__bg"
            />
            <div class="top__content">
                <h1 class="top__title">Propel your business.</h1>
                <p class="top__text">
                    Propel comes with everything you need to get your business
                    rolling.
                </p>
            </div>
            <a href="#" class="fill-link top__started-link">Get Started</a>
        </div>
    </div>
</section>
